button {
  border-radius: 3px;
  font-size: 11px;
  background-color: rgba(0,0,0,0.03);
  border: 1px solid rgba(0,0,0,0.2);
}

#controls {
  position: absolute;
  left: 500px;
  font-size: 12px;
  width: 300px;
  top: 50px;
}

#addgp button {
}